// nextflow.config
manifest {
    description = 'Protein structure analysis making use of Rosetta, STRUM and GROMACS'
    nextflowVersion = '!>=23.10.1'
    author = 'Tammara Poa Siang Koh'
    name = 'PSA (Protein structure analysis) framework'
    version = '1.0'
}

profiles {
    standard {
        // Configuration for local execution
        process.executor = 'local'
    }

    cluster_PBS {
        // Configuration for a cluster (e.g., SLURM, PBS)
        process.executor = 'pbspro'
        process.queue = 'bix'
        process.cpus = 8
        process.memory = '16GB'
        process.time = '72h'
    }

    cluster_SLURM {
        // Configuration for a cluster (e.g., SLURM, PBS)
        process.executor = 'slurm'
        process.queue = 'your_queue'
        process.cpus = 8
        process.memory = '16GB'
        process.time = '72h'
    }
}

singularity {
    enabled = true
    autoMounts = true
    simgDir = '/home/tammara/Documents/PSA_framework/images'
}

//maybe define pub dir

// Define the location to store temporary files (adjust as needed)
scratch = '/home/tammara/Documents/PSA_framework/scratch'

// Define the location for the Nextflow work directory (adjust as needed)
workDir = '/home/tammara/Documents/PSA_framework/work'

// Define the location for the Nextflow bin directory (adjust as needed)
binDir = '/home/tammara/Documents/PSA_framework/bin'

publishDir = '/home/tammara/Documents/PSA_framework_out'

conda {
    enabled = true
}

process {
    //beforeScript = 'module load app/apptainer/1.2.5'
    withName:ROSETTA_FIXBB {
        container = 'images/rosetta_23_45_updated_03.sif'
    }
    withName:ROSETTA_THREADER {
        container = 'images/rosetta_23_45_updated_03.sif'
    }
    withName:MAESTRO {
       container = 'images/maestro.sif'
    }
    withName:STANDARD_MD {
        container = 'images/gro_pmx_2023.sif'
    }
    withName:PMX_PREP_MUTANT {
        container = 'images/gro_pmx_2023.sif'
    }
    withName:GRO_PREP_MUTANT {
        container = 'images/gro_pmx_2023.sif'
    }
    withName:GRO_EQUILIBRIUM {
        container = 'images/gro_pmx_2023.sif'
    }
    withName:GRO_NON_EQUILIBRIUM {
        container = 'images/gro_pmx_2023.sif'
    }
    withName:FREE_ENERGY_EST {
        container = 'images/gro_pmx_2023.sif'
    }
    withName:CREATE_TRIPEPTIDE {
        container = 'images/gro_pmx_2023.sif'
    }
    withName:GRO_PREP_TRIPEPTIDE {
        container = 'images/gro_pmx_2023.sif'
    }
    withName:GRO_EQUILIBRIUM_UNFOLDED {
        container = 'images/gro_pmx_2023.sif'
    }
    withName:GROMACS_MT_PMX {
        container = 'images/gro_pmx_2023.sif'
    }
}